<table border="1px">
    <tr>
        <td> Nome </td>
        <td> Nome do Proprietário </td>
        <td> Endereco</td>
        <td> Tipo </td>
        <td> Raca </td>
    </tr>
    {{#each animals}}
    <tr>
        <td>{{nome}}</td>
        <td>{{nomeDoProprietario}}</td>
        <td>{{endereco}}</td>
        <td>{{tipo}}</td>
        <td>{{raca}}</td>
    </tr>
    {{/each}}
</table>